<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @hotel.polish %></h1>
    <a href="<%= url_for :action => :show, :id => @hotel.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
    <a href="<%= url_for :action => :delete, :id => @hotel.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">Delete</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @hotel.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="hotel[polish]" class="fieldLabel">Polish</label>
            <input type="text" id="hotel[polish]" name="hotel[polish]" value="<%= @hotel.polish %>" <%= placeholder( "Polish" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="hotel[english]" class="fieldLabel">English</label>
            <input type="text" id="hotel[english]" name="hotel[english]" value="<%= @hotel.english %>" <%= placeholder( "English" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="hotel[permalink]" class="fieldLabel">Permalink</label>
            <input type="text" id="hotel[permalink]" name="hotel[permalink]" value="<%= @hotel.permalink %>" <%= placeholder( "Permalink" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
