<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @pharmacy.polish %></h1>
    <a href="<%= url_for :action => :show, :id => @pharmacy.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
    <a href="<%= url_for :action => :delete, :id => @pharmacy.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">Delete</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @pharmacy.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="pharmacy[polish]" class="fieldLabel">Polish</label>
            <input type="text" id="pharmacy[polish]" name="pharmacy[polish]" value="<%= @pharmacy.polish %>" <%= placeholder( "Polish" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="pharmacy[english]" class="fieldLabel">English</label>
            <input type="text" id="pharmacy[english]" name="pharmacy[english]" value="<%= @pharmacy.english %>" <%= placeholder( "English" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="pharmacy[permalink]" class="fieldLabel">Permalink</label>
            <input type="text" id="pharmacy[permalink]" name="pharmacy[permalink]" value="<%= @pharmacy.permalink %>" <%= placeholder( "Permalink" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
