<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @number.polish %></h1>
    <a href="<%= url_for :action => :show, :id => @number.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
    <a href="<%= url_for :action => :delete, :id => @number.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">Delete</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @number.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="number[polish]" class="fieldLabel">Polish</label>
            <input type="text" id="number[polish]" name="number[polish]" value="<%= @number.polish %>" <%= placeholder( "Polish" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="number[english]" class="fieldLabel">English</label>
            <input type="text" id="number[english]" name="number[english]" value="<%= @number.english %>" <%= placeholder( "English" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="number[permalink]" class="fieldLabel">Permalink</label>
            <input type="text" id="number[permalink]" name="number[permalink]" value="<%= @number.permalink %>" <%= placeholder( "Permalink" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
