<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @airport.polish %></h1>
    <%= link_to "Edit", :action => :edit, :id => @airport.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Polish</td>
        <td class="itemValue"><%= @airport.polish%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">English</td>
        <td class="itemValue"><%= @airport.english%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Permalink</td>
        <td class="itemValue"><%= @airport.permalink%></td>
      </tr>
      
    </table>
  </div>

</div>
