<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @money.polish %></h1>
    <a href="<%= url_for :action => :show, :id => @money.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
    <a href="<%= url_for :action => :delete, :id => @money.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">Delete</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @money.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="money[polish]" class="fieldLabel">Polish</label>
            <input type="text" id="money[polish]" name="money[polish]" value="<%= @money.polish %>" <%= placeholder( "Polish" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="money[english]" class="fieldLabel">English</label>
            <input type="text" id="money[english]" name="money[english]" value="<%= @money.english %>" <%= placeholder( "English" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="money[permalink]" class="fieldLabel">Permalink</label>
            <input type="text" id="money[permalink]" name="money[permalink]" value="<%= @money.permalink %>" <%= placeholder( "Permalink" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
